<h1>Add a New Community</h1>
<%= form_for @community do |f| %>
  <% # f.error_messages %>

	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "ex. Virginia Tech Parkour" %>
  </p>

	<%= f.fields_for :location do |loc| %>
		<p>
	    <%= loc.label :address %><br />
	    <%= loc.text_field :address %>
	  </p>
	<% end %>

  <p>
    <%= f.label :url, "Website URL" %><br />
    <%= f.text_field :url, :placeholder => "ex. http://ifreerun.com" %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p><%= f.submit %></p>
<% end %>
