<%= form_for @location do |f| %>
	<p>
	  <%= f.label :community %><br />
	  <%= f.select :community_id, Community.all.map{|c| [c.name, c.id]} %>
	</p>
  <p>
    <%= f.label :address, "Address [will be geolocated automatically]" %><br />
    <%= f.text_field :address %>
  </p>
  <p><%= f.submit %></p>
<% end %>
